.project
.settings
*~
*.diff
*.patch
.DS_Store
.bower.json
.sizecache.json
yarn.lock
.eslintcache
tmp

npm-debug.log*

/dist
/node_modules

# Ignore BrowserStack testing files
local.log
browserstack.err
